tiktoken==0.4.0
mysql-connector-python
websockets
pyyaml
mysql-connector
mysql-connector-python
aiofiles
redis
chromadb-client==0.4.6.dev0
aiohttp
FlagEmbedding==1.0.3
pydantic==1.10.12
jupyter-kernel-gateway
Pillow