langchain
openai
tiktoken==0.4.0
mysql-connector-python
websockets
pyyaml
flask
mysql-connector
mysql-connector-python
aiofiles
redis
chromadb-client==0.4.6.dev0
aiohttp
google-search-results
FlagEmbedding==1.0.3
openapi-schema-pydantic==1.2.4
pydantic==1.10.12
jupyter-kernel-gateway